.sa-menu-area{
    background-color: black;
    color:darkgray;
}

.sa-menu-area-vertical{
    width: 200px;
    min-height: 100vh;
    padding:30px 0px 0px 0px;
}

.sa-menu-area-horizontal{
    width: 100%;
    height:40px;
}

.sa-menu-area .btn:hover{
    color:darkgrey;
}

.sa-menu-area ul{
    padding-left:0px;
}

.sa-menu{
    list-style-type: none;
    vertical-align: top;
}
/* display insline helps in making the menu horizontal*/
.sa-menu ul{
    display: inline;
}

.sa-menu li{
    line-height: 3em;
    cursor:pointer;
}

.sa-menu li div{
    display: inline-block;
    width:90%;
    padding-left: 16px;
}

.sa-selectableItem:hover{
    background-color:#555;
}
/* to avoid selecting text we use this */
.sa-noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.sa-menu-icon{
    margin-right: 10px;
}

.sa-menu-active-indicator{
    float:right;
    color: #dddddd;
    margin-right : 0;
    margin-top:8px;
}

.sa-group-indicator-left{
    float:right;
    color: lightgray;
    margin-right: 2px;
    margin-top:15px;
}

.sa-subitem-section{
    padding-left: 16px;
}

.sa-menu-layout-button{
    margin:12px;
    padding: 2px 8px;
    color:lightgrey;
    background-color: #333;
    border:1px solid darkgrey;

}

.sa-layout-button-horizontal{
    position:absolute;
    top:60px;
    right:10px;
}

.sa-item-horizontal{
    display: inline-block;
    width: 165px !important;
    margin-left: 20px;
    margin-top:5px;
    line-height: 1.5em !important;
}

.sa-popup-menu{
    position: absolute;
    z-index: 1000;
    background-color: #333;
    width: 200px;
    padding-left: 0;
}