.sa-title-bar{
    background-color: white;
    padding: 0 20px;
    border-bottom: 2px solid black;
}

.sa-title-area{
    display:inline-block;
    text-align: center;
}
.sa-logo-area{
    text-align: center;
}

.sa-icon{
    display:inline-block;
    width: 50px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
    border: 1px  solid #999;
}

.sa-logo-title{
    color: #111;
    margin-top: 6px;
    font-size: 22px;
}

.sa-logo-subtitle{
    font-size: 13px;
    margin-top: -13px;
}
/* 60 px because icon is 50 px this makes it look good */
.sa-right-side-controls{
    line-height: 60px;
}

.sa-right-side-controls >div{
    text-align: center;
}
/* media query for portrait tablet to landscape and desktop*/
@media screen and (min-width: 768px){
    .sa-right-side-controls > div {
        text-align: right;
    }

    .sa-logo-area{
        text-align: left;
    }

}