.sa-title-bar{
    background-color: white;
    padding: 0 20px;
    border-bottom: 2px solid black;
}

.sa-title-area{
    display:inline-block;
    text-align: center;
}
.sa-logo-area{
  /*  text-align: center;*/
}

.sa-icon{
    display:inline-block;
    width: 50px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
    border: 1px  solid #999;
}

.sa-logo-title{
    color: #111;
    margin-top: 6px;
    font-size: 22px;
}

.sa-logo-subtitle{
    font-size: 13px;
    margin-top: -13px;
}
/*if the devices 430px or smaller these rules take affect*/
@media screen and (max-width: 430px){
    .sa-icon{
        display: none;
    }
    .sa-logo-title{
        font-size: 18px;
    }

}

/* 60 px because icon is 50 px this makes it look good */
.sa-right-side-controls{
    line-height: 60px;
}

.sa-right-side-controls >div{
    text-align: center;
}
/* media query for portrait tablet to landscape and desktop*/
@media screen and (min-width: 768px){
    .sa-right-side-controls > div {
        text-align: right;
    }

    .sa-logo-area{
        text-align: left;
    }

}


.sa-collapsed-menu{
   /* lets us put this next to heading*/
    display: inline-block;
    height: 100%;
}

.sa-nav-button{
    height: 40px;
    width:60px;
    margin-top: 10px;
    border:1px solid #888;
    padding: 0;
    font-size:26px;
    color: #777;
}